# ======================
# ENV (везде)
# ======================
.env
.env.*
**/.env

# ======================
# Node.js
# ======================
node_modules/
**/node_modules/

# ======================
# Build
# ======================
build/
dist/
**/build/
**/dist/

# ======================
# Logs
# ======================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE / Editors
# ======================
.idea/
.vscode/

# ======================
# Misc
# ======================
coverage/